* {
  margin: 0;
  border: 0;
  letter-spacing: 0.8px;
}

body {
  background-color: #5d0000;
}

#notice {
  margin-top: 15rem;
  margin-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#btn-notice {
  outline: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #5d0000;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-family: monospace;
  font-weight: 700;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  width: 44.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#noticeIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1rem;
  font-size: 2rem;
  color: honeydew;
}

.outerContainer {
  width: 45rem;
  padding: 2rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 0.5rem;
}

.btn-tabs.active {
  background: #751111;
}

.btn-tabs:focus {
  outline: none;
}

.btn-tabs {
  width: 200px;
  height: 45px;
  background: #380000;
  -webkit-transform: perspective(10px) rotateX(1deg);
          transform: perspective(10px) rotateX(1deg);
  margin: 0;
  cursor: pointer;
  font-size: 1.1rem;
  color: #ffcf5f;
}

#tab-one {
  width: 8rem;
}

.mainContainer {
  background-color: #751111;
  border-radius: 10px;
  margin: 0 auto;
  width: 41rem;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
 "Lucida Sans", Arial, sans-serif;
}

#sectionOne {
  background-color: #2a3038;
  color: white;
  border-radius: 10px;
}

#profileOne,
#profileTwo {
  display: block;
  -webkit-animation: switchProfile 1s;
          animation: switchProfile 1s;
}

@-webkit-keyframes switchProfile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes switchProfile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#jsOne,
#jsTwo {
  display: none;
  -webkit-animation: switchJS 1s;
          animation: switchJS 1s;
}

@-webkit-keyframes switchJS {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes switchJS {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#resWebOne,
#resWebTwo {
  display: none;
  -webkit-animation: switchRW 1s;
          animation: switchRW 1s;
}

@-webkit-keyframes switchRW {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes switchRW {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.secOne {
  padding: 0 2rem 0.5rem 2rem;
  display: block;
}

#contentProfile,
#contentJS,
#contentResWeb {
  padding: 1rem 0 1rem 0;
  color: #fa6a6a;
}

#contentProfile ul,
#contentJS ul,
#contentResWeb ul {
  list-style-type: none;
}

#contentProfile li,
#contentJS li,
#contentResWeb li {
  margin-bottom: 0.5rem;
}

#contentResWeb a {
  text-decoration: none;
  color: #698cff;
}

#contentResWeb a:hover {
  -webkit-animation: destinHover 1s infinite;
          animation: destinHover 1s infinite;
}

@-webkit-keyframes destinHover {
  0% {
    color: #698cff;
  }
  50% {
    color: #00ffbb;
  }
  100% {
    color: #698cff;
  }
}

@keyframes destinHover {
  0% {
    color: #698cff;
  }
  50% {
    color: #00ffbb;
  }
  100% {
    color: #698cff;
  }
}

#contentJS a {
  text-decoration: none;
  color: #698cff;
}

#contentJS a:hover {
  -webkit-animation: destinHover 1s infinite;
          animation: destinHover 1s infinite;
}

@keyframes destinHover {
  0% {
    color: #698cff;
  }
  50% {
    color: #00ffbb;
  }
  100% {
    color: #698cff;
  }
}

#sectionTwo {
  padding: 2rem;
  background-color: #e4f6fd;
  border-radius: 10px;
}

#sectionTwo a {
  cursor: pointer;
  text-decoration: none;
  color: #698cff;
}

#sectionTwo a:hover {
  -webkit-animation: destinHover 1s infinite;
          animation: destinHover 1s infinite;
}

@keyframes destinHover {
  0% {
    color: #698cff;
  }
  50% {
    color: #00ffbb;
  }
  100% {
    color: #698cff;
  }
}
/*# sourceMappingURL=index.css.map */
